Repository wdoppenberg/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, clai-help, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

Update DBOS version, fix OTel docs and tests (#2939)
  docs/durable_execution/dbos.md
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pyproject.toml
  tests/test_dbos.py
  uv.lock
Due: format, lint, clai-help, typecheck

tests: don't trigger requests to Cerebras when API key is not found (#2946)
  tests/models/cassettes/test_model_names/test_known_model_names.yaml
  tests/models/test_model_names.py
Due: format, lint, clai-help, typecheck

Don't send item IDs to Responses API for non-reasoning models (#2950)
  docs/thinking.md
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/cassettes/test_openai_responses/test_openai_responses_non_reasoning_model_no_item_ids.yaml
  tests/models/test_openai_responses.py
Due: format, lint, clai-help, typecheck

Fix `StreamedResponse.model_name` for Azure OpenAI (#2945)
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai.py
Due: format, lint, clai-help, typecheck

Add RunContext.max_retries and .last_attempt (#2952)
  docs/durable_execution/temporal.md
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_run_context.py
  pydantic_ai_slim/pydantic_ai/toolsets/function.py
  tests/test_tools.py
Due: format, lint, clai-help, typecheck

Set StreamedResponse.model_name from later streamed chunk for Azure OpenAI with content filter (#2951)
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai.py
Due: format, lint, clai-help, typecheck

test: loop until result on A2A tests (#2953)
  tests/test_a2a.py
Due: format, lint, clai-help, typecheck

Include built-in tool calls and results in OTel messages (#2954)
  pydantic_ai_slim/pydantic_ai/_otel_messages.py
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/models/test_instrumented.py
Due: format, lint, clai-help, typecheck

Fix OTel for built-in tools returning a list (e.g. Anthropic web search) (#2959)
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/models/test_instrumented.py
Due: format, lint, clai-help, typecheck

Drop assertion that Google streaming chunk has candidates (#2960)
  pydantic_ai_slim/pydantic_ai/models/google.py
Due: format, lint, clai-help, typecheck

Give model a chance to retry after producing an empty response (#2961)
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/models/test_groq.py
  tests/models/test_huggingface.py
  tests/models/test_openai.py
  tests/test_agent.py
  tests/test_streaming.py
Due: format, lint, clai-help, typecheck

Clarify `Agent(retries=...)` description (#2963)
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
Due: format, lint, clai-help, typecheck

Stop redundantly encoding binary data as base64 when sending to Google genai SDK (#2962)
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/cassettes/test_google/test_google_model_document_url_input.yaml
  tests/models/cassettes/test_google/test_google_model_image_as_binary_content_input.yaml
  tests/models/cassettes/test_google/test_google_model_image_url_input.yaml
  tests/models/cassettes/test_google/test_google_model_text_as_binary_content_input.yaml
  tests/models/cassettes/test_google/test_google_model_text_document_url_input.yaml
  tests/models/cassettes/test_google/test_google_model_video_as_binary_content_input.yaml
  tests/models/cassettes/test_google/test_google_model_video_url_input.yaml
  tests/models/test_google.py
Due: format, lint, clai-help, typecheck

Use model class names as tags in `format_as_xml` and add option to include field titles and descriptions as attributes (#2313)
  pydantic_ai_slim/pydantic_ai/format_prompt.py
  tests/test_format_as_xml.py
Due: format, lint, clai-help, typecheck

Fix durable execution link in README.md
  README.md
Due: clai-help

Update `pyproject.toml` to be PEP639 compliant (#3001)
  pyproject.toml
Due: none

Fix OpenAI docs code example (#3003)
  docs/models/openai.md
Due: clai-help

Add `operation.cost` metric to instrumented models (#3013)
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
  tests/models/test_instrumented.py
Due: format, lint, clai-help, typecheck

docs: replace "customisation" by "customization" (#3019)
  docs/mcp/client.md
Due: clai-help

move `OutputObjectDefinition` from private `_output.py` to public `output.py` (#2991)
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/output.py
Due: format, lint, clai-help, typecheck

Raise error when using Anthropic thinking with output tools (#3025)
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/cassettes/test_anthropic/test_anthropic_output_tool_with_thinking.yaml
  tests/models/test_anthropic.py
Due: format, lint, clai-help, typecheck

Bump temporalio to 1.18.0 (#3027)
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

Bump genai-prices to 0.0.28 (#3030)
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Document that Gemini requires native or prompted output mode for structured output streaming (#3032)
  docs/output.md
Due: clai-help

Update Ollama docs instructions (#2993)
  docs/models/openai.md
Due: clai-help

Fix streaming gpt-oss using Ollama (#3035)
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/profiles/harmony.py
  pydantic_ai_slim/pydantic_ai/providers/ollama.py
  tests/providers/test_ollama.py
Due: format, lint, clai-help, typecheck

Add `claude-sonnet-4-5` to known model names (#3033)
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pyproject.toml
  tests/models/test_model_names.py
  uv.lock
Due: format, lint, clai-help, typecheck

Update docs and tests for DBOS v2.0 (#3004)
  docs/durable_execution/dbos.md
  pydantic_ai_slim/pydantic_ai/mcp.py
  tests/test_dbos.py
  uv.lock
Due: format, lint, clai-help, typecheck

Support callable classes as history processors (#2988)
  pydantic_ai_slim/pydantic_ai/_function_schema.py
  tests/test_function_schema.py
  tests/test_history_processor.py
Due: format, lint, clai-help, typecheck

Support OpenAI image detail on `ImageUrl` and `BinaryContent` via `vendor_metadata` (#2987)
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai.py
  tests/models/test_openai_responses.py
Due: format, lint, clai-help, typecheck

Add cost metric to the pydantic-evals output (#2984)
  pydantic_evals/pydantic_evals/dataset.py
  tests/evals/test_dataset.py
Due: format, lint, clai-help, typecheck

Don't error when Gemini returns more than one candidate response (#3043)
  pydantic_ai_slim/pydantic_ai/models/google.py
Due: format, lint, clai-help, typecheck

Add retry args to `pydantic_evals.Dataset.evaluate_sync` (#3022)
  pydantic_evals/pydantic_evals/dataset.py
Due: format, lint, clai-help, typecheck

Change type of common_tools to work with agent with any deps type (#3037)
  pydantic_ai_slim/pydantic_ai/common_tools/duckduckgo.py
  pydantic_ai_slim/pydantic_ai/common_tools/tavily.py
Due: format, lint, clai-help, typecheck

Support Anthropic built-in memory tool (#3042)
  docs/builtin-tools.md
  pydantic_ai_slim/pydantic_ai/builtin_tools.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  tests/models/cassettes/test_anthropic/test_anthropic_memory_tool.yaml
  tests/models/test_anthropic.py
  tests/test_examples.py
Due: format, lint, clai-help, typecheck

Handle Ollama responses without finish_reason (#3045)
  docs/models/openai.md
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai.py
Due: format, lint, clai-help, typecheck

Don't run deploy-docs-preview after a PR is merged to main (#3046)
  .github/workflows/after-ci.yml
Due: none

Don't run deploy-docs-preview if the event does not have PRs (#3047)
  .github/workflows/after-ci.yml
Due: none
