Repository wdoppenberg/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, clai-help, typecheck

format:
  name: Format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

clai-help:
  name: clai help output
  entry: uv
  args:
  - run
  - pytest
  - clai/update_readme.py
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

Fix types to let `OpenRouterProvider` be created with only `http_client` (#3308)
  pydantic_ai_slim/pydantic_ai/providers/openrouter.py
Due: format, lint, clai-help, typecheck

Add `Agent.run_stream_sync` method and sync convenience methods on `StreamedRunResult` (#3146)
  docs/agents.md
  pydantic_ai_slim/pydantic_ai/_utils.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/result.py
  tests/test_streaming.py
Due: format, lint, clai-help, typecheck

Fix broken docs API link (#3322)
  docs/api/result.md
Due: clai-help

Fix typevar variance for agent deps (#3319)
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_run_context.py
  pydantic_ai_slim/pydantic_ai/tools.py
  tests/typed_agent.py
  tests/typed_deps.py
Due: format, lint, clai-help, typecheck

Add support for detecting and handling `application/msword` files. (#3318)
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/test_messages.py
Due: format, lint, clai-help, typecheck

Ensure AG-UI `ToolCallStartEvent` doesn't use a `parent_message_id` from a previous request/response (#3325)
  pydantic_ai_slim/pydantic_ai/ui/_event_stream.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/_event_stream.py
  tests/test_ag_ui.py
Due: format, lint, clai-help, typecheck

Improve validation error retry message (#3193)
  pydantic_ai_slim/pydantic_ai/messages.py
  tests/models/cassettes/test_gemini/test_gemini_drop_exclusive_maximum.yaml
  tests/test_agent.py
Due: format, lint, clai-help, typecheck

OpenAI gpt-5-chat does not support (encrypted) reasoning (#3332)
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
Due: format, lint, clai-help, typecheck

Complete thinking.md documentation with AWS Bedrock examples (#3328)
  docs/thinking.md
Due: clai-help

Fix graph execution bug with multiple joins downstream of same fork (#3337)
  pydantic_graph/pydantic_graph/beta/graph.py
  pydantic_graph/pydantic_graph/beta/graph_builder.py
  tests/graph/beta/test_graph_execution.py
Due: format, lint, clai-help, typecheck

Skip installing outlines dependencies mlx, vllm, torch on Intel Macs (#3312)
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

Let additional `instructions` be provided at `agent.run` time. (#3309)
  docs/agents.md
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  pydantic_ai_slim/pydantic_ai/agent/wrapper.py
  pydantic_ai_slim/pydantic_ai/durable_exec/dbos/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/prefect/_agent.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_agent.py
  tests/test_agent.py
Due: format, lint, clai-help, typecheck

Add `partial_output` to `RunContext` (#3286)
  docs/durable_execution/temporal.md
  docs/output.md
  pydantic_ai_slim/pydantic_ai/_run_context.py
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_run_context.py
  pydantic_ai_slim/pydantic_ai/result.py
  tests/test_agent.py
  tests/test_examples.py
Due: format, lint, clai-help, typecheck

Fix a bug with task group cancellation nonsense (#3338)
  pydantic_ai_slim/pydantic_ai/mcp.py
  pydantic_graph/pydantic_graph/beta/graph.py
  tests/cassettes/test_mcp/test_agent_run_stream_with_mcp_server_http.yaml
  tests/json_body_serializer.py
  tests/test_mcp.py
Due: format, lint, clai-help, typecheck

Fix type annotation for `DuckDuckGoTool` with latest version of `ddgs` package (#3330)
  pydantic_ai_slim/pydantic_ai/common_tools/duckduckgo.py
Due: format, lint, clai-help, typecheck

Fix typo in docs variable name (#3343)
  examples/pydantic_ai_examples/rag.py
Due: format, lint, clai-help, typecheck

`FallbackModel` support for Native and Prompted output modes and `ModelProfile.default_structured_output_mode` (#3303)
  docs/api/models/function.md
  docs/builtin-tools.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/cohere.py
  pydantic_ai_slim/pydantic_ai/models/fallback.py
  pydantic_ai_slim/pydantic_ai/models/function.py
  pydantic_ai_slim/pydantic_ai/models/gemini.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/groq.py
  pydantic_ai_slim/pydantic_ai/models/huggingface.py
  pydantic_ai_slim/pydantic_ai/models/instrumented.py
  pydantic_ai_slim/pydantic_ai/models/mistral.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/models/outlines.py
  pydantic_ai_slim/pydantic_ai/models/wrapper.py
  pydantic_ai_slim/pydantic_ai/output.py
  tests/models/cassettes/test_anthropic/test_anthropic_output_tool_with_thinking.yaml
  tests/models/test_anthropic.py
  tests/models/test_bedrock.py
  tests/models/test_fallback.py
  tests/models/test_gemini.py
  tests/models/test_google.py
  tests/models/test_groq.py
  tests/models/test_instrumented.py
  tests/models/test_model_request_parameters.py
  tests/models/test_openai.py
  tests/models/test_openai_responses.py
  tests/test_agent.py
  tests/test_logfire.py
Due: format, lint, clai-help, typecheck

docs: Add Braintrust to integrations (#3346)
  docs/logfire.md
Due: clai-help

Fix tool call incorrectly being considered approved when history ends in unapproved tool call (#3355)
  docs/deferred-tools.md
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  pydantic_ai_slim/pydantic_ai/_tool_manager.py
  pydantic_ai_slim/pydantic_ai/tools.py
  tests/test_agent.py
  tests/test_examples.py
  tests/test_tools.py
Due: format, lint, clai-help, typecheck

Bump `temporalio` to v1.18.2 as v1.18.0 is broken (#3356)
  pydantic_ai_slim/pyproject.toml
  uv.lock
Due: none

Warn about implicit retries on the `FallbackModel` docs (#3294)
  docs/models/overview.md
Due: clai-help

Ignore empty text parts in `GoogleModel` (#3360)
  pydantic_ai_slim/pydantic_ai/models/google.py
Due: format, lint, clai-help, typecheck

Add `AgentRun.{all,new}_messages{_json}` (#3354)
  pydantic_ai_slim/pydantic_ai/run.py
  tests/test_agent.py
Due: format, lint, clai-help, typecheck

Update known models on Cerebras and Heroku (#3375)
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  tests/models/cassettes/test_model_names/test_known_model_names.yaml
Due: format, lint, clai-help, typecheck

feat(gateway): support `api_type` (#3362)
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/bedrock.py
  pydantic_ai_slim/pydantic_ai/models/google.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/gateway.py
  tests/models/cassettes/test_model_names/test_known_model_names.yaml
  tests/models/test_model.py
  tests/providers/cassettes/test_gateway/test_gateway_provider_with_bedrock.yaml
  tests/providers/cassettes/test_gateway/test_gateway_provider_with_google_vertex.yaml
  tests/providers/cassettes/test_gateway/test_gateway_provider_with_openai.yaml
  tests/providers/cassettes/test_gateway/test_gateway_provider_with_openai_responses.yaml
  tests/providers/test_gateway.py
  tests/providers/test_provider_names.py
Due: format, lint, clai-help, typecheck

feat(gateway): support `profile` and `routing_group` (#3361)
  pydantic_ai_slim/pydantic_ai/providers/gateway.py
  tests/providers/test_gateway.py
Due: format, lint, clai-help, typecheck

fix: Set COLUMNS=150 for make test targets (#3371)
  Makefile
Due: none

Support `instructions` arg in `UIAdapter` run methods (#3386)
  pydantic_ai_slim/pydantic_ai/ui/_adapter.py
Due: format, lint, clai-help, typecheck

Allow custom provider factory to be passed into `infer_model` (#3341)
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  tests/models/test_model.py
Due: format, lint, clai-help, typecheck

Docs: AWS Bedrock retry behavior (#3379)
  docs/models/bedrock.md
  docs/retries.md
Due: clai-help

docs: fix link to AG-UI Dojo (#3387)
  docs/examples/ag-ui.md
Due: clai-help

Fix error when Google returns only empty text parts (#3388)
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/test_google.py
Due: format, lint, clai-help, typecheck

Don't run CI steps that require secrets on PRs from fork branch to fork `main` (#3385)
  .github/workflows/ci.yml
  .gitignore
Due: none

Fix Vercel AI tool input/output always showing up as a JSON string rather than object (#3399)
  pydantic_ai_slim/pydantic_ai/messages.py
  pydantic_ai_slim/pydantic_ai/ui/vercel_ai/_event_stream.py
  tests/test_agent.py
  tests/test_vercel_ai.py
Due: format, lint, clai-help, typecheck

Make `ModelRetry` hashable (#3394)
  pydantic_ai_slim/pydantic_ai/exceptions.py
  tests/test_exceptions.py
Due: format, lint, clai-help, typecheck

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  clai-help: any of: \.py$, \.(md|markdown|mdown)$
  typecheck: any of: \.py$
