Repository wdoppenberg/pydantic-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, clai-help, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
        exclude: "cassettes/"
      - id: fix-spaces
        exclude: "cassettes/"
      - id: fix-ligatures
        exclude: "cassettes/"

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--skip", "tests/models/cassettes/*"]
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format
        name: Format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: Lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: clai-help
        name: clai help output
        entry: uv
        args: [run, pytest, "clai/update_readme.py"]
        language: system
        types_or: [python, markdown]
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

Use correct agent's instructions when telling model to retry output (#3209)
  pydantic_ai_slim/pydantic_ai/_agent_graph.py
  tests/test_agent.py
Due: format, lint, clai-help, typecheck

test: loop until result on A2A tests (#3233)
  tests/test_a2a.py
Due: format, lint, clai-help, typecheck

Expand docs for pydantic-evals (#3213)
  docs/evals.md
  docs/evals/core-concepts.md
  docs/evals/evaluators/built-in.md
  docs/evals/evaluators/custom.md
  docs/evals/evaluators/llm-judge.md
  docs/evals/evaluators/overview.md
  docs/evals/evaluators/span-based.md
  docs/evals/examples/simple-validation.md
  docs/evals/how-to/concurrency.md
  docs/evals/how-to/dataset-management.md
  docs/evals/how-to/dataset-serialization.md
  docs/evals/how-to/logfire-integration.md
  docs/evals/how-to/metrics-attributes.md
  docs/evals/how-to/retry-strategies.md
  docs/evals/quick-start.md
  mkdocs.yml
  pydantic_evals/pydantic_evals/__init__.py
  pydantic_evals/pydantic_evals/evaluators/llm_as_a_judge.py
  pydantic_evals/pydantic_evals/reporting/__init__.py
  tests/test_examples.py
Due: format, lint, clai-help, typecheck

Remove an unwanted section of the evals docs (#3235)
  docs/evals/how-to/dataset-serialization.md
Due: clai-help

Support OpenAI and Anthropic native MCP support via `MCPServerTool` builtin tool (#3101)
  docs/builtin-tools.md
  docs/mcp/overview.md
  docs/models/google.md
  pydantic_ai_slim/pydantic_ai/__init__.py
  pydantic_ai_slim/pydantic_ai/builtin_tools.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/cassettes/test_anthropic/test_anthropic_mcp_servers.yaml
  tests/models/cassettes/test_anthropic/test_anthropic_mcp_servers_stream.yaml
  tests/models/cassettes/test_openai_responses/test_openai_responses_model_mcp_server_tool.yaml
  tests/models/cassettes/test_openai_responses/test_openai_responses_model_mcp_server_tool_stream.yaml
  tests/models/cassettes/test_openai_responses/test_openai_responses_model_mcp_server_tool_with_connector.yaml
  tests/models/test_anthropic.py
  tests/models/test_openai_responses.py
  tests/test_examples.py
Due: format, lint, clai-help, typecheck

Raise clear error when any Google content filter is hit resulting in empty response (#3236)
  docs/agents.md
  pydantic_ai_slim/pydantic_ai/models/google.py
  tests/models/test_google.py
  tests/test_examples.py
Due: format, lint, clai-help, typecheck

Fix support for multiple `MCPServerTool` `builtin_tools` (#3239)
  pydantic_ai_slim/pydantic_ai/agent/__init__.py
  pydantic_ai_slim/pydantic_ai/builtin_tools.py
  pydantic_ai_slim/pydantic_ai/models/__init__.py
  pydantic_ai_slim/pydantic_ai/models/anthropic.py
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_anthropic.py
  tests/models/test_model_request_parameters.py
  tests/models/test_openai_responses.py
  tests/test_agent.py
Due: format, lint, clai-help, typecheck

Preformat run graph/node span names for other OTel backends (#3244)
  pydantic_graph/pydantic_graph/graph.py
Due: format, lint, clai-help, typecheck

Ensure that google-genai doesn't close httpx client provided by Pydantic AI or user (#3243)
  pydantic_ai_slim/pydantic_ai/providers/google.py
  tests/models/cassettes/test_google/test_google_httpx_client_is_not_closed.yaml
  tests/models/test_google.py
Due: format, lint, clai-help, typecheck

Raise CI tests timeout to 15min (#3247)
  .github/workflows/ci.yml
Due: none

Add `OpenAIModelProfile.openai_responses_requires_function_call_status_none` flag to satisfy vLLM Responses API (#3246)
  pydantic_ai_slim/pydantic_ai/models/openai.py
  pydantic_ai_slim/pydantic_ai/profiles/openai.py
  tests/models/cassettes/test_openai_responses/test_openai_responses_model_simple_response_with_tool_call.yaml
  tests/models/cassettes/test_openai_responses/test_openai_responses_requires_function_call_status_none.yaml
  tests/models/test_openai_responses.py
Due: format, lint, clai-help, typecheck

Sanitize auto-generated output tool name to support generic types (#2979)
  pydantic_ai_slim/pydantic_ai/_output.py
  tests/test_agent.py
Due: format, lint, clai-help, typecheck

Add FastMCPToolset (#2784)
  docs/api/toolsets.md
  docs/install.md
  docs/mcp/client.md
  docs/mcp/fastmcp-client.md
  docs/mcp/overview.md
  docs/toolsets.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/toolsets/fastmcp.py
  pydantic_ai_slim/pyproject.toml
  pyproject.toml
  tests/test_fastmcp.py
  uv.lock
Due: format, lint, clai-help, typecheck

Ensure `ToolCallPart.args` resulting from `TestModel(custom_output_args=...)` is always a `dict` (#3254)
  pydantic_ai_slim/pydantic_ai/models/test.py
  tests/models/test_model_test.py
Due: format, lint, clai-help, typecheck

Add `OutlinesModel` to run Transformers, Llama.cpp, MLXLM, SGLang and vLLM via Outlines (#2623)
  .github/workflows/ci.yml
  README.md
  docs/api/models/outlines.md
  docs/builtin-tools.md
  docs/index.md
  docs/install.md
  docs/models/outlines.md
  docs/models/overview.md
  docs/thinking.md
  mkdocs.yml
  pydantic_ai_slim/pydantic_ai/_output.py
  pydantic_ai_slim/pydantic_ai/models/outlines.py
  pydantic_ai_slim/pydantic_ai/providers/__init__.py
  pydantic_ai_slim/pydantic_ai/providers/outlines.py
  pydantic_ai_slim/pydantic_ai/settings.py
  pydantic_ai_slim/pyproject.toml
  pydantic_ai_slim/venv
  pyproject.toml
  tests/conftest.py
  tests/models/test_outlines.py
  tests/providers/test_outlines.py
  tests/providers/test_provider_names.py
  tests/test_builtin_tools.py
  uv.lock
Due: format, lint, clai-help, typecheck

Fix Outlines docs API cross-refs (#3266)
  docs/models/outlines.md
Due: clai-help

Fix pydantic-graph importing pydantic-ai (#3265)
  pydantic_graph/pydantic_graph/beta/graph.py
Due: format, lint, clai-help, typecheck

Don't prune uv cache in CI (#3271)
  .github/workflows/ci.yml
Due: none

Add experiment metadata (#3263)
  docs/evals/how-to/metrics-attributes.md
  pydantic_evals/pydantic_evals/dataset.py
  pydantic_evals/pydantic_evals/reporting/__init__.py
  tests/evals/test_dataset.py
  tests/evals/test_reporting.py
Due: format, lint, clai-help, typecheck

Respect `openai_supports_tool_choice_required` model profile setting in `OpenAIResponsesModel` (#3272)
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai.py
Due: format, lint, clai-help, typecheck

Fix agent name inference when using `run_stream_events` (#3279)
  pydantic_ai_slim/pydantic_ai/agent/abstract.py
  tests/test_streaming.py
Due: format, lint, clai-help, typecheck

Fix docs custom retry logic example (#3276)
  docs/retries.md
Due: clai-help

Set GHA setup-uv cache-suffix for different package sets (#3282)
  .github/workflows/after-ci.yml
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/manually-deploy-docs.yml
Due: none

Disable uv cache for smokeshow as there's nothing to cache (#3283)
  .github/workflows/after-ci.yml
  .github/workflows/ci.yml
Due: none

Fix send-tweet CI job (#3284)
  .github/workflows/ci.yml
Due: none

Exclude outlines from dev group (#3285)
  .github/workflows/ci.yml
  pyproject.toml
  tests/models/test_outlines.py
  uv.lock
Due: format, lint, clai-help, typecheck

Don't fail after-ci deploy-docs-preview if PR docs job failed (#3287)
  .github/workflows/after-ci.yml
  .github/workflows/ci.yml
Due: none

Always enable Cloudflare workers preview URLs (#3288)
  docs-site/wrangler.toml
Due: none

Revert "Fix send-tweet CI job" (#3293)
  .github/workflows/ci.yml
Due: none

Support AsyncAnthropicVertex as AnthropicProvider.anthropic_client (#3292)
  pydantic_ai_slim/pydantic_ai/providers/anthropic.py
Due: format, lint, clai-help, typecheck

Set AG-UI frontend state directly on provided `deps` so it can be read from `on_complete` handler (#3297)
  pydantic_ai_slim/pydantic_ai/ui/_adapter.py
  pydantic_ai_slim/pydantic_ai/ui/ag_ui/app.py
  tests/test_ag_ui.py
Due: format, lint, clai-help, typecheck

Add Version Policy to docs (#3301)
  docs/changelog.md
  docs/version-policy.md
  mkdocs.yml
Due: clai-help

Don't fail after-ci deploy-docs-preview if PR docs job failed (#3302)
  .github/workflows/after-ci.yml
Due: none

Retry instead of error when Google response fails with `MALFORMED_FUNCTION_CALL` or other recoverable finish reason (#3300)
  pydantic_ai_slim/pydantic_ai/models/google.py
Due: format, lint, clai-help, typecheck

Fix `MCPServer` error handling with Temporal (#3299)
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_function_toolset.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_mcp_server.py
  pydantic_ai_slim/pydantic_ai/durable_exec/temporal/_toolset.py
Due: format, lint, clai-help, typecheck

Update directory path in ag-ui.md example (#3310)
  docs/examples/ag-ui.md
Due: clai-help

Implement `OpenAIResponsesModel.base_url` property (#3281)
  pydantic_ai_slim/pydantic_ai/models/openai.py
  tests/models/test_openai_responses.py
Due: format, lint, clai-help, typecheck
